{% extends 'base.html' %}

{% block content %}
<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Find the right board for your surfing style</h2>
            <h5>The right board for the right ride.</h5>
        <div>
            <button class="btn btn-outline-info">Aloha</button>
            <button class="btn btn-outline-info">Shaka</button>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <img src="../../static/css/images/header.jpg" alt="Hero Header" class="header-image">
    </div>
    </header>

    
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Beginners to Pros, all are welcome</h2>
            <p>Enjoy the waters with a board that's right for you</p>
        </div>
    </section>

    <!-- beginning of features section -->

    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/css/images/surfboards1.jpg" alt="surboard1" id="surf-image1">
            <!-- in class this was the API image -->
            <h4>Long Boards</h4>
            <p>Perfect fo cruising those 1-3 foot rolling waves between the bigger swells.</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/css/images/surfboards2.jpg" alt="surboard2" id="surf-image2">
            <h4>Short Boards</h4>
            <p>Drop into those fast, powerful, and larger waves with our extensive collection of shortboards!</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/css/images/surfboards3.jpg" alt="surboard3" id="surf-image3"> 
            <h4>Foam Boards</h4>
            <p>Best for beginners. These foamies are are an easy paddle out, an easy catch, and a whole lot of fun.</p>
        </div>
    </section>

    <!-- end of collection features -->

    <!-- Community section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/css/images/surf-doggy.jpg" alt="surf-dog" id="surf-dog">
        </div>
        <div class="col-12 col-md-6">
            <h4>Join our community page for surfing updates from the locals</h4>
            <p>updates on swell, conditions, competitions, and more</p>
            <div>
                <button class="btn btn-primary">Button</button>
                <button class="btn btn-primary">Button2</button>
            </div>
        </div>
    </section>

    <!-- end of community section -->

    <!-- start of footer -->

    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/css/images/bg-20 (1).png" alt="surf-logo" id="surf-logo">
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Party Wave Surfboards</p>
                <p>Our Board Selection</p>
                <p>Contact Us</p>
                <p>Join the Community</p>
            </div>
        </div>
        
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Party Wave Surfboards</p>
                <p>Our Board Selection</p>
                <p>Contact Us</p>
                <p>Join the Community</p>
            </div>
        </div>
        
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Party Wave Surfboards</p>
                <p>Our Board Selection</p>
                <p>Contact Us</p>
                <p>Join the Community</p>
            </div>
        </div>
        
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Party Wave Surfboards</p>
                <p>Our Board Selection</p>
                <p>Contact Us</p>
                <p>Join the Community</p>
            </div>
        </div>
    </footer>

</div>
{% endblock content %}
